* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Space Mono', monospace!important; 
}

body {
	background: #aac443;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 100px);
}

h1 {
	color:  #FFF;
	margin-top: 75px;
}

h4 {

    background: #4d5a16;
    padding: 5px 20px;
    display: inline-block;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 6px;

}

.wiki-form {
	margin: 25px 0 50px;
}
.wiki-form input {
	width: 400px;
	height: 50px;
	padding: 25px;
	border-radius: 5px;
	font-size: 1.3rem;
	background: rgba(255, 255, 255, .5);
	border: solid 2px #4d5a17;
}

ul {
	display: block;
	list-style-type: none;
	width: 500px;
}

ul li {
	border: solid 1px #4d5a16;
    margin-bottom: 20px;
    padding: 0px;
    border-radius: 4px;
    color:  #FFF;
    box-shadow: 0px 14px 12px -12px #4d5a17;
}

ul li p {
	padding: 20px;
}

.repo {
	text-align: right;
	color: #4d5a16
}

.repo a {
	text-decoration: none;
	color: #4d5a16
}